@model ScenePreviewerScriptModel

<div>
    <div class="form-group">
        <input oninput="fetchDragon(this.value)" class="form-control" placeholder="Paste your dragon ID or scry image url" />
    </div>
    <div class="form-group">
        <input type="text" list="sceneList" oninput="fetchScene(this.value)" class="form-control" placeholder="Select scene (type to filter)">
        <datalist id="sceneList">
            @foreach (var scene in Model.Scenes)
            {
                <option value="@scene.Key">@scene.Value</option>
            }
        </datalist>
    </div>
    <div class="form-group">
        <input type="text" list="familiarList" oninput="fetchFamiliar(this.value)" class="form-control" placeholder="Select familiar (type to filter)">
        <datalist id="familiarList">
            @foreach (var scene in Model.Familiars)
            {
                <option value="@scene.Key">@scene.Value</option>
            }
        </datalist>
    </div>
    <div id="ScenePreview" style="display:none;">
        <hr />
        <div class="d-flex justify-content-center overflow-hidden">
            <canvas id="dragon-profile-export" width="1024" height="521"></canvas>
            <div id="dragon-profile-export-scene" data-url=""></div>
            <div id="dragon-profile-export-dragon" data-url=""></div>
            <div id="dragon-profile-export-familiar" data-url=""></div>
        </div>
        <hr/>
        To download right click the image and select Save Image
    </div>
    <div id="AvatarImageError" style="display:none;">
        <hr />
        <div class="alert alert-danger">
            The URL you provided is not a valid URL. Please make sure the URL is in the following format: <br />
            <span class="text-muted">https://www1.flightrising.com/rendern/350/1/16_350.png</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    var element, canvas, scene, sceneSource = new Image(), dragon, dragonSource = new Image(), familiar, familiarSource = new Image();

    snippetActivation['@Model.SanitizedName'] = () => {
        element = document.getElementById('dragon-profile-export');
        canvas = element.getContext('2d');
        scene = false;
        dragon = false;
        familiar = false;
    };

    snippetDeactivation['@Model.SanitizedName'] = () => {
        element = null;
        canvas = null;
        scene = false;
        dragon = false;
        familiar = false;
    }

    updateScene = () => {
        $('#ScenePreview').show();

        sceneSource.src = $('#dragon-profile-export-scene').attr('data-url');
        dragonSource.src = $('#dragon-profile-export-dragon').attr('data-url');
        familiarSource.src = $('#dragon-profile-export-familiar').attr('data-url')

        updateDisplay();
    }

    fetchDragon = dragonId => {
        var url = "";
        if (!dragonId)
            dragon = false;
        else {
            if (isNaN(dragonId)) {
                url = dragonId;
            }
            else {
                url = `https://www1.flightrising.com/rendern/350/${(Math.floor(dragonId / 100) + 1)}/${dragonId}_350.png`;
            }
        }
        $('#dragon-profile-export-dragon').attr('data-url', url);
        updateScene();
    }

    fetchScene = id => {
        var url = "";
        if (!id)
            scene = false;
        else
            url = `@Url.RouteUrl("GetSceneQueryString")?id=${id}`;

        $('#dragon-profile-export-scene').attr('data-url', url);
        updateScene();
    }

    fetchFamiliar = id => {
        var url = "";
        if (!id)
            familiar = false;
        else
            url = `@Url.RouteUrl("GetFamiliarQueryString")?id=${id}`;

        $('#dragon-profile-export-familiar').attr('data-url', url);
        updateScene();
    }

    sceneSource.onload = function () {
        scene = sceneSource;
        updateDisplay();
    };

    dragonSource.onload = function () {
        dragon = dragonSource;
        updateDisplay();
    };

    familiarSource.onload = function () {
        familiar = familiarSource;
        updateDisplay();
    };

    updateDisplay = () => {
        canvas.setTransform(1, 0, 0, 1, 0, 0);
        canvas.clearRect(0, 0, 1024, 521);
        if (scene)
            canvas.drawImage(scene, 0, 0, 1024, 521);
        if (dragon)
            canvas.drawImage(dragon, 327, 104, 350, 350);
        if (familiar)
            canvas.drawImage(familiar, 677, 244, 200, 200)
    }
</script>