@model AdminUsersViewModel

@{ 
    
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Registered FRTools users</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Login providers</th>
                    <th>Skins owned</th>
                    <th>Previews made</th>
                    <th>Pinglists owned</th>
                    <th>Login</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            @(user.Id)
                        </td>
                        <td>
                            <a href="@Url.RouteUrl("Profile", new { username = user.UserName })">@(user.UserName)</a>
                        </td>
                        <td>
                            <ul>
                                @foreach (var login in user.Logins)
                                {
                                    <li>@(login.LoginProvider)</li>
                                }
                            </ul>
                        </td>
                        <td>
                            @(user.Skins.Count)
                        </td>
                        <td>
                            @(user.Previews.Count)
                        </td>
                        <td>
                            @(user.Pinglists.Count)
                        </td>
                        <td>
                            <a class="btn btn-primary" href="@Url.RouteUrl("AdminImpersonate", new { userId = user.Id })">Impersonate</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>