@model FRTools.Web.Models.PinglistListsViewModel

@{
    ViewBag.Title = "View pinglist";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>View pinglist</h4>
    </div>
    <div class="panel-body">
        <p>
            Use the fields here to navigate to a a pinglist that you have the ID for.<br />
            If you created a pinglist without being logged in, you will need to enter your secret key if you wish to manage your list.
        </p>
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ListId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ListId, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SecretKey, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.SecretKey, new { @class = "form-control", placeholder = "Optional", data_placement = "right", data_toggle = "tooltip", title = "You only need this if you own this pinglist, and want to manage it." })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Go to pinglist" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Your pinglists</h4>
        </div>

        <div class="panel-body">

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pinglists with your entry
                    </div>
                    <div class="panel-body">
                        @if (Model.HasVerified)
                        {
                            if (Model.OnLists.Any())
                            {
                                <ul class="listContainer" id="onListContainer" tabindex="0" role="listbox">
                                    @foreach (var list in Model.OnLists)
                                    {
                                        <li>@(list.Name) (Owner: @Html.Raw(list.Owner?.UserName ?? "<i>Anonymous</i>")) <span class="pull-right"><a class="btn btn-primary btn-xs" href="@Url.RouteUrl("PinglistDirect", new { listId = list.ListId })">View</a></span></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <i>You are not on any pinglists :(</i>
                            }
                        }
                        else
                        {
                            <p><i>To see on what pinglists you are, link your Flight Rising account to your FRTools account. You can do so <a href="@Url.RouteUrl("VerifyFR")">here</a></i></p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Owned pinglists
                    </div>

                    <div class="panel-body">
                        @if (Model.OwnedLists.Any())
                        {
                            <ul class="listContainer" id="ownedListContainer" tabindex="0" role="listbox">
                                @foreach (var list in Model.OwnedLists)
                                {
                                    <li>@(list.Name)<span class="pull-right"><a class="btn btn-primary btn-xs" href="@Url.RouteUrl("PinglistDirect", new { listId = list.ListId })">Manage</a></span></li>
                                }
                            </ul>
                        }
                        else
                        {
                            <i>You do not own any pinglists :(</i>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('input[type="submit"]').click(function () {
            var listId = $('#ListId').val();
            var secretKey = $('#SecretKey').val();
            if (listId) {
                location.href = `${location.protocol}//${location.host}${location.pathname}/${listId}${(secretKey ? '?secretKey=' + secretKey : '')}`;
            }
        });
    });
</script>


<style>
    .listContainer {
        padding: 0;
        margin: 0;
        height: 100%;
        max-height: 450px;
        min-height: 219px;
        overflow-y: scroll;
    }

        .listContainer:focus {
            outline: none;
        }

        .listContainer li {
            display: block;
            height: 2.5em;
            line-height: 2.5em;
            padding: 0 5px;
            transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s;
        }

            .listContainer li[aria-selected="true"] {
                background: #d9edf7;
            }
</style>