@model FRSkinTester.Models.PreviewModelPostViewModel

@{
    ViewBag.Title = "Preview";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            Here is your preview, hope you like it!
        </h2>
    </div>
    <div class="panel-body">
        @if (Model.Dragon.EyeType == FRSkinTester.Models.EyeType.Primal || Model.Dragon.EyeType == FRSkinTester.Models.EyeType.Glowing)
        {
            <div class="alert alert-warning">
                This dragon has the <b>@(Model.Dragon.EyeType)</b> eyetype. Due to the nature of how these eyes are generated here they don't look perfect (yet). This is a work in progress!
            </div>
        }
        else if (Model.Dragon.EyeType == FRSkinTester.Models.EyeType.MultiGaze)
        {
            <div class="alert alert-success">
                The eye masks for multi-gaze are generously provided by <b>Grovey#79114</b> (<a href="https://www1.flightrising.com/forums/gde/2571730">forum thread</a>)
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                Eyes might not look right compared to the final, but they should still give a good indication of what will be. This is a work in progress!
            </div>
        }
        @if (Model.ImageResultUrls.Length == 1)
        {
            <div>
                <img class="center-block" src="@(Model.ImageResultUrls[0])" />
            </div>
        }
        else
        {
            <div class="col-md-6">
                <img class="center-block" src="@(Model.ImageResultUrls[0])" />
            </div>
            <div class="col-md-6">
                <img class="center-block" src="@(Model.ImageResultUrls[1])" />
            </div>

        }
        <p class="pull-left">
            <i style="font-size:10px;">
                Notice anything wrong with the result? Let me know so I can fix it <a href="https://github.com/nensec/frskintester/issues">&gt;here&lt;</a>!
            </i>
        </p>
        @if (!Request.IsAuthenticated)
        {
            <p class="pull-right">
                <i style="font-size:10px;">
                    Did you know that if you <a href="@Url.RouteUrl("Login")">login</a> all previews you create will be linked to your account and you can view them in your profile?
                </i>
            </p>
        }
    </div>
</div>
<p><a class="btn btn-primary" href="@Url.Action("Preview", new { SkinId = Model.SkinId })">Try on another dragon? &raquo;</a></p>