@model FRSkinTester.Models.PreviewModelPost

@{
    ViewBag.Title = "Preview";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Preview skin: @(Model.Title)</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginRouteForm("PreviewPost", new { SkinId = Model.SkinId }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.SkinId)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-6">
                    @if (Model.Creator != null)
                    {
                        <div class="form-group">
                            <label class="text-right col-md-4">Creator</label>
                            <div class="col-md-8">
                                @if (Model.Creator.FRId != null)
                                {
                                    <a href="@($"http://www1.flightrising.com/clan-profile/{Model.Creator.FRId}")" title="Visit the creator's Flight Rising profile!">@Model.Creator.FRName</a>
                                    <span class="glyphicon glyphicon-ok text-success" data-toggle="tooltip" title="This user account is verified on Flight Rising"></span>
                                }
                                else
                                {
                                    <p>
                                        @Model.Creator.UserName
                                        <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="This user account has not been verified on Flight Rising"></span>
                                    </p>
                                }
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" readonly>@(Model.Description)</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-right col-md-4">Coverage</label>
                        <div class="col-md-8">
                            <div>@(Model.Coverage)%</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DragonId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DragonId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DragonId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Preview on my dragon!" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-default" href="@Url.RouteUrl("PreviewScryer", new { SkinId = Model.SkinId })">Or try it on a scry &raquo;</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="@(Model.PreviewUrl)" />
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}