@model FRSkinTester.Models.PreviewModelViewModel

@{
    ViewBag.Title = "Preview";
}

@section meta{
    <meta property="og:title" content="Skin preview@(Model.Title != null ? $" of '{Model.Title}'" : "")" />
    <meta property="og:image" content="@(Model.CDNBasePath + Model.PreviewUrl)" />
    <meta property="og:url" content="@Url.RouteUrl("Preview", new { SkinId = Model.SkinId })" />
    <meta property="og:description" content="@(Model.Description ?? "No description provided")" />
}

<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Preview skin: @(Model.Title)</h2>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="text-right col-md-4">Creator</label>
                        <div class="col-md-8">
                            @if (Model.Creator != null)
                            {
                                <p>
                                    @if (Model.Creator.FRId != null)
                                    {
                                        <a href="@($"http://www1.flightrising.com/clan-profile/{Model.Creator.FRId}")" target="_blank" title="Visit the creator's Flight Rising profile!">@Model.Creator.FRName</a>
                                        <span class="glyphicon glyphicon-ok text-success" data-toggle="tooltip" title="This user account is verified on Flight Rising"></span>
                                    }
                                    else
                                    {

                                        @Model.Creator.UserName
                                        <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="This user account has not been verified on Flight Rising"></span>
                                    }
                                    <a href="@Url.RouteUrl("Profile", new { username = Model.Creator.UserName })">
                                        <span class="glyphicon glyphicon-user text-info" data-toggle="tooltip" title="View this user's profile on this tool"></span>
                                    </a>
                                </p>
                            }
                            else
                            {
                                <p><i>Anonymous</i></p>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "text-right control-label col-md-4" })
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" readonly>@(Model.Description)</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-right col-md-4">Coverage</label>
                        <div class="col-md-8">
                            <div>@(Model.Coverage)%</div>
                        </div>
                    </div>
                </div>
                <hr />
                @Html.Partial("_PreviewForm", new FRSkinTester.Models.PreviewModelPost(Model.SkinId, Model.DragonType))
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <img class="dragonImage" src="@(Model.CDNBasePath + Model.PreviewUrl)" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}