@model FRTools.Web.Models.DiscordCommand

<p>
    @if (Model.SubCommands?.Any() == true)
    {
        foreach (var subCommand in Model.SubCommands)
        {
            if (subCommand.Parameters?.Any() == true)
            {
                <b>Command usage:</b> <kbd><b>@(Model.ParentModule.Aliases[0]) @(Model.Aliases[0])</b></kbd> <kbd>@(string.Join(" ", subCommand.Parameters.Select(x => x.IsOptional ? $"[{x.MustMatchValue ?? x.Name}]" : x.MustMatchValue ?? x.Name)))</kbd>
            }
            else
            {
                <b>Command usage:</b> <kbd><b>@(Model.ParentModule.Aliases[0]) @(Model.Aliases[0])</b></kbd>
            }
            <br />
        }
    }
    else
    {
        if (Model.Parameters?.Any() == true)
        {
            <b>Command usage:</b> <kbd><b>@(Model.ParentModule.Aliases[0]) @(Model.Aliases[0])</b></kbd> <kbd>@(string.Join(" ", Model.Parameters.Select(x => x.IsOptional ? $"[{x.MustMatchValue ?? x.Name}]" : x.MustMatchValue ?? x.Name)))</kbd>
        }
        else
        {
            <b>Command usage:</b> <kbd><b>@(Model.ParentModule.Aliases[0]) @(Model.Aliases[0])</b></kbd>
        }
        <br />
    }
    @if (Model.Aliases.Length > 1)
    {
        <b>Aliases:</b>
        foreach (var alias in Model.Aliases.Skip(1))
        {
            <kbd><b>@(Model.ParentModule.Aliases[0]) @(alias)</b></kbd>
        }
        <br />
    }
</p>

@Html.Partial("_Help", Model.Help)