@model FRTools.Common.DiscordModuleViewModel

@{
    ViewBag.Title = "ManageModule";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4>Manage module: <b>@(Model.SelectedModule.Name)</b></h4>
            </div>
            <div class="col-xs-7">
                <span class="pull-right"><a class="btn btn-default" href="@Url.RouteUrl("DiscordManageServer", new { discordServer = Model.ParentServer.ServerId })">Back to server management</a></span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @if (!Model.Settings.Any())
            {
                <div>
                    This module has no settings
                </div>
            }
            @foreach (var setting in Model.Settings.Where(x => x.Category == null))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="text-align:left"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="left" title="@(setting.Description)"></span> @(setting.SettingName)</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => setting)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@foreach (var category in Model.Categories)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @(category.Description)
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @foreach (var setting in Model.Settings.Where(x => x.Category == category))
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align:left"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="left" title="@(setting.Description)"></span> @(setting.SettingName)</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => setting)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (Model.Commands.Any(x => x.Settings.Any()))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Command settings
        </div>
        <div class="panel-body">

            @foreach (var command in Model.Commands.Where(x => x.Settings.Any()))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Settings for: @command.SelectedCommand.Name
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            @foreach (var setting in command.Settings)
                            {
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" style="text-align:left"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="left" title="@(setting.Description)"></span> @(setting.SettingName)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => setting)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
