@model FRTools.Web.Models.DiscordModuleViewModel

@{
    ViewBag.Title = "ManageModule";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4>Manage module: <b>@(Model.SelectedModule.Name)</b></h4>
            </div>
            <div class="col-xs-7">
                <span class="pull-right"><a class="btn btn-default" href="@Url.RouteUrl("DiscordManageServer", new { discordServer = Model.ParentServer.ServerId })">Back to server management</a></span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @if (Model.ModuleSettings.Any())
            {
                foreach (var setting in Model.ModuleSettings)
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align:left">
                            @if (setting.Description != null)
                            {
                                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="left" title="@(setting.Description)"></span>
                            }
                            @(setting.SettingName)
                        </label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => setting)
                        </div>
                    </div>
                }
            }
            else
            {
                <p><b><i>There are no settings for this module</i></b></p>
            }
        </div>
    </div>
</div>
