@model FRTools.Web.Models.ServerViewModel

@{
    ViewBag.Title = "ManageServer";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Manage server: <b>@(Model.ServerName)</b></h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bot settings
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    @foreach (var setting in Model.BotSettings)
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align:left"><span class="glyphicon glyphicon-info-sign" title="@(setting.Description)"></span> @(setting.SettingName)</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => setting)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Available modules
            </div>
            <div class="panel-body">
                @foreach (var module in Model.Modules)
                {
                    <div class="col-sm-6 module">
                        <div class="panel panel-default panel-transparent">
                            <div class="panel-body">
                                <a href="@Url.RouteUrl("DiscordManageModule", new { discordServer = Model.ServerId, module = module.Name.ToLower() })">
                                    <div class="col-sm-4">
                                        <div class="moduleIcon">
                                            @if (string.IsNullOrEmpty(module.Help?.IconBase64))
                                            {
                                                <span>@module.Name[0]</span>
                                            }
                                            else
                                            {
                                                <img src="@($"data:image/png;base64, {module.Help.IconBase64}")" />
                                            }
                                        </div>
                                    </div>
                                </a>
                                <div class="col-sm-8">
                                    <a href="@Url.RouteUrl("DiscordManageModule", new { discordServer = Model.ServerId, module = module.Name.ToLower() })">
                                        <h4 style="margin-bottom:15px">@module.Name</h4>
                                    </a>
                                    <p>@(module.Description)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .moduleIcon {
        border-radius: 64px;
        transition: all 0.25s cubic-bezier(0.29,-0.07, 0.56, 1.65);
        overflow: hidden;
        width: 128px;
        height: 128px;
        text-align: center;
        background-color: #ddd;
        float: left;
        display: inline block;
        color: white;
    }

        .moduleIcon img {
            width: 128px;
            height: 128px;
        }

        .moduleIcon span {
            display: block;
            font-size: 46px;
            margin-top: 30px;
            font-family: 'Arimo', sans-serif;
        }
</style>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.module').on('mouseover', function () {
                $('.moduleIcon', this).css('border-radius', 35);
            }).on('mouseout', function () {
                $('.moduleIcon', this).css('border-radius', 64);
            });
        });
    </script>
}