@model NewsViewModel

@{
    ViewBag.Title = "Newsreader";
    Layout = V2Layout;
}

@section meta{
    <meta property="og:title" content="Flight Rising news reader" />
    <meta property="og:image" content="/Content/frtools_embed.png" />
    <meta property="og:url" content="@Url.RouteUrl("NewsReader")" />
    <meta property="og:description" content="This tool allows you to read Flight Rising's news posts and specifically read deleted posts" />
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Flight Rising news posts, unredacted</h5>
    </div>
    <div class="card-body">
        <p class="text-info">
            Flight Rising staff is known to delete any post that is not to their liking, making their forums look brighter than it usually is.<br />
            However those posts are still live and readable for a short period, so I made this tool to read the new posts frequently to try and catch posts before they get deleted.<br />
            This does not mean I catch <b>all</b> deletes, but I should catch <b>most</b> of them.<br />
            Due to the nature of not knowing why a post is deleted, this tool also catches posts deleted by users and genuine bad posts that <b>should</b> be moderated.
        </p>
        <p class="text-danger">
            <b>Read the contents of the pages here at your own risk, there might be things in here that really should not be!<br />If you do catch something, hit the report button on the post.</b>
        </p>
        <table class="table table-hover border mb-0">
            <thead>
                <tr>
                    <th scope="col">Topic name</th>
                    <th scope="col">Posts</th>
                    <th scope="col">Deletes</th>
                    <th scope="col">Topic Starter</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var topic in Model.Topics)
                {
                    <tr onclick="window.location.assign('@Url.RouteUrl("ReadNews", new { topicId = topic.FRTopicId })')">
                        <td>@(topic.TopicName)</td>
                        <td>@(topic.TotalPosts)</td>
                        <td>
                            <span class="text-danger">
                                @(topic.DeletedPosts)
                            </span>
                        </td>
                        <td>@(topic.TopicStarer)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>