@model NewsTopicViewModel

@{
    ViewBag.Title = "FR news topic: " + Model.TopicName;
    Layout = V2Layout;
}

@section meta{
    <meta name="referrer" content="no-referrer" />
    <meta property="og:title" content="Flight Rising news reader" />
    <meta property="og:image" content="/Content/frtools_embed.png" />
    <meta property="og:url" content="@(Url.RouteUrl(Model.DeletedOnly ? "ReadNews" : "ReadDeletedNews", new { topicId = Model.FRTopicId }))" />
    <meta property="og:description" content="@(Model.DeletedOnly ? "Deleted" : "All") posts made in the thread: @(Model.TopicName)" />
}

<div class="card mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-sm">
                <h5 class="text-break">@(Model.TopicName)</h5>
            </div>
            <div class="col-auto">
                <a class="btn btn-sm btn-secondary mr-1" href="@(Url.RouteUrl(Model.DeletedOnly ? "ReadNews" : "ReadDeletedNews", new { topicId = Model.FRTopicId }))">View @(Model.DeletedOnly ? "all" : "only deleted") posts</a>
                <a class="btn btn-sm btn-secondary" href="@(Url.RouteUrl("NewsReader"))">Back to topics</a>
            </div>

        </div>
    </div>
    <div class="card-body">
        <p class="text-danger">
            Due to the nature of not knowing why a post is deleted, this tool also catches posts deleted by users and genuine bad posts that <b>should</b> be moderated.
        </p>
        <p class="text-danger">
            <b>Read the contents of the pages here at your own risk, there might be things in here that really should not be!<br />If you do catch something, hit the report button on the post.</b>
        </p>
        @Html.Partial("_Pagination", Model.Pagination)

        <div id="FRContent">
            @foreach (var post in Model.Posts)
            {
                <div class="card @(post.IsDeleted ? "border-danger" : "") mb-3">
                    <div class="card-header" data-toggle=collapse data-target="#post_@(post.FRPostId)" title="Click to toggle show/hide">
                        Post ID: @(post.FRPostId) | Created: @(post.CreatedAt)
                        <span class="pull-right">
                            @if (post.IsDeleted)
                            {
                                @:<b>This post was deleted!</b> | <a class="text-danger ignore-collapse" href="#" onclick="reportPost(@(post.FRPostId))"><b>Report genuine moderation</b></a>
                            }
                            else
                            {
                                <a class="ignore-collapse" target="_blank" href="https://www1.flightrising.com/forums/ann/@(Model.FRTopicId)/@(post.ExpectedFRPage)#post_@(post.FRPostId)">Jump to post</a>
                            }
                        </span>
                    </div>
                    <div id="post_@(post.FRPostId)" class="panel-collapse collapse show @(post.Reports > 5 ? "" : "in")">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto pr-0">
                                    <div class="card @(post.IsDeleted ? "border-danger" : "")">
                                        <div class="card-body">
                                            <a target="_blank" href="@($"https://www1.flightrising.com/clan-profile/{post.PostAuthorClanId}")">@(post.PostAuthor)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card @(post.IsDeleted ? "border-danger" : "")">
                                        <div class="card-body">
                                            @Html.Raw(post.RawHtmlContent)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <script>
                $('#FRContent script').html('');

                $('#FRContent img').each(function (i, e) {
                    try {
                        var src = $(e).attr('src');
                        if (src.startsWith('/')) {
                            $(e).attr('src', 'https://www1.flightrising.com' + src);
                        }
                    } catch (e) {
                    }
                });

                $('.bbcode_quote').addClass('card border-info mt-3');
                $('.bbcode_quote_head').addClass('card-header');
                $('.bbcode_quote_body').addClass('card-body');
            </script>
        </div>
        @Html.Partial("_Pagination", Model.Pagination)
    </div>
</div>

@section scripts{
    <script>
        reportPost = function (postId) {
            $.post({
                url: '@(Url.RouteUrl("ReportPost", new { postId = -1 }))'.replace('-1', postId)
            });
            alert('Post reported!');
        };

        $('.ignore-collapse').on('click', function (e) {
            e.stopPropagation();
        });
    </script>
}

<style>
    div[data-toggle="collapse"] {
        cursor: pointer;
    }

    .bbcode_img {
        max-width: 100%;
    }
</style>