@model ViewProfileViewModel

@{
    ViewBag.Title = Model.User.UserName + (Model.User.UserName.EndsWith("s") ? "" : "'s") + " profile";
    var previews = Model.Previews?.Select((x, i) => (x, i)).ToList();
    var skins = Model.Skins?.Select((x, i) => (x, i)).ToList();
}

@if (Model.IsOwn)
{
    <div class="alert alert-info">
        You are looking at your own profile, you will see everything regardless of settings. To see your profile as others see it visit <a href="@Url.RouteUrl("Profile", new { username = Model.User.UserName })">this link</a>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@(ViewBag.Title)</h4>
    </div>
    <div class="panel-body">
        <p>
            @if (Model.User.FRUser != null)
            {
                @:This user has verified their account on Flight Rising; you can view their Flight Rising account <a href="@($"https://www1.flightrising.com/clan-profile/{Model.User.FRUser.FRId}")" target="_blank">here</a>.
            }
            else
            {
                @:This user has not verified their account on Flight Rising.
            }
        </p>
    </div>
</div>
<div class="row">
    @if (!Model.Privacy.HasFlag(FRTools.Data.DataModels.Privacy.HideSkins) || Model.IsOwn)
    {
        <div class="col-md-@(Model.Privacy.HasFlag(FRTools.Data.DataModels.Privacy.HidePreviews) && !Model.IsOwn ? "12" : "6")">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>Skins owned</h4>
                </div>
                <div class="panel-body">
                    <p>
                        These are skins that this user has uploaded to the site, click on an image to open its preview page.
                    </p>
                    @if (Model.Skins.Any())
                    {
                        <div class="well clearfix skin-container">
                            @foreach (var skin in skins)
                            {
                                <div class="col-sm-@(Model.Privacy.HasFlag(FRTools.Data.DataModels.Privacy.HidePreviews) && !Model.IsOwn ? "2" : "4")">
                                    <a href="@Url.RouteUrl("Preview", new { SkinId = skin.Item1.GeneratedId })">
                                        <img id="Skin@(skin.Item2)" data-toggle="popover" style="max-width:100%; max-height:100%" src="@($"{Model.CDNBasePath}/previews/{skin.Item1.GeneratedId}/preview.png")" />
                                        <div id="Skin@(skin.Item2)_popover" class="hide">
                                            <ul style="list-style:none; padding:0">
                                                <li><b>Id:</b> @(skin.Item1.GeneratedId)</li>
                                                <li><b>Title:</b> @(skin.Item1.Title ?? "No title")</li>
                                                <li><b>Description:</b> @(skin.Item1.Description ?? "No description")</li>
                                                <li><b>Coverage:</b> @(skin.Item1.Coverage)% (@(skin.Item1.Coverage < 31 ? "Accent" : "Skin"))</li>
                                                <li><b>Skin info:</b> @((Gender)skin.Item1.GenderType) @((DragonType)skin.Item1.DragonType)</li>
                                                <li><img src="@($"{Model.CDNBasePath}/previews/{skin.Item1.GeneratedId}/preview.png")" /></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>No skins uploaded yet : (</p>
                    }

                </div>
            </div>
        </div>
    }

    @if (!Model.Privacy.HasFlag(FRTools.Data.DataModels.Privacy.HidePreviews) || Model.IsOwn)
    {
        if (Model.IsOwn)
        {
            <script>
                removePreview = function (previewId) {
                    if (confirm("Are you sure you want to remove this preview from your profile?")) {
                        $.ajax({
                            type: "POST",
                            url: '@(Url.RouteUrl("UnlinkPreview"))',
                            data: { 'previewId': previewId },
                            success: function () {
                                $('#carousel-previews').carousel('next');
                                setTimeout(function () {
                                    $(`[data-id=${previewId}]`).remove();
                                }, 650);
                            }
                        });
                    }
                }
            </script>
        }
        <div class="col-md-@(Model.Privacy.HasFlag(FRTools.Data.DataModels.Privacy.HideSkins) && !Model.IsOwn ? "12" : "6")">
            <div class="panel panel-warning" id="PreviewsPanel">
                <div class="panel-heading">
                    <h4>Previews generated</h4>
                </div>
                <div class="panel-body">
                    <p>
                        These are all the previews that this user has generated on the various skins available on the tool.
                    </p>
                    @if (Model.Previews.Any())
                    {
                            <div class="col-sm-2 carousel-container">
                                <ol class="carousel-indicators">
                                    @foreach (var preview in previews)
                                    {
                                        <li data-id="@(preview.Item1.Id)" data-item="@(preview.Item2)" data-target="#carousel-previews" data-slide-to="@(preview.Item2)" class="@(preview.Item2 == 0 ? "activeIndicator" : "")">
                                            <img src="@(Model.CDNBasePath + preview.Item1.PreviewImage)" />
                                        </li>
                                    }
                                </ol>
                            </div>
                            <div class="col-sm-10">
                                <div id="carousel-previews" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        @foreach (var preview in previews)
                                        {
                                            <div class="item @(preview.Item2 == 0 ? "active" : "")" data-id="@(preview.Item1.Id)" data-item="@(preview.Item2)">
                                                <div class="row">
                                                    <img id="Preview@(preview.Item2)" class="center-block" src="@(Model.CDNBasePath + preview.Item1.PreviewImage)" data-toggle="popover">
                                                    <div id="Preview@(preview.Item2)_popover" class="hide">
                                                        @{ var dragon = FRTools.Data.DataModels.DragonCache.FromString(preview.Item1.DragonData); }
                                                        <ul style="list-style:none; padding:0">
                                                            <li><b>Colors:</b> @(dragon.BodyColor) / @(dragon.WingColor) / @(dragon.TertiaryColor)</li>
                                                            <li><b>Genes:</b> @(dragon.BodyGene) / @(dragon.WingGene) / @(dragon.TertiaryGene)</li>
                                                            <li><b>Element:</b> @(dragon.Element)</li>
                                                            <li><b>Eyetype:</b> @(dragon.EyeType.GetDescription())</li>
                                                            @if (preview.Item1.Skin != null)
                                                            {
                                                                <li><b>Skin:</b> @Html.Raw(preview.Item1.Skin.Title ?? "<i>No title</i>") <span class="small">(@(preview.Item1.Skin.GeneratedId))</span></li>
                                                            }
                                                            else
                                                            {
                                                                <li><b>Skin: <i>Skin deleted</i></b></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <b>@(preview.Item1.DragonId != null ? "Real dragon" : "Scry dragon")</b>
                                                    @if (preview.Item1.ScryerUrl != null)
                                                    {
                                                        @: - <a href="@($"https://www1.flightrising.com/scrying/predict?breed={(int)dragon.DragonType}&gender={(int)dragon.Gender}&age={(int)dragon.Age}&bodygene={(int)dragon.BodyGene}&body={(int)dragon.BodyColor}&winggene={(int)dragon.WingGene}&wings={(int)dragon.WingColor}&tertgene={(int)dragon.TertiaryGene}&tert={(int)dragon.TertiaryColor}&element={(int)dragon.Element}&eyetype={(int)dragon.EyeType}")" target="_blank">Visit scrying workshop</a>
                                                    }
                                                    else if (Model.IsOwn && preview.Item1.DragonId != null)
                                                    {
                                                        @: - <a href="@($"https://www1.flightrising.com/main.php?dragon={preview.Item1.DragonId}")" target="_blank">See dragon</a> - <a href="@($"https://www1.flightrising.com/scrying/predict/{preview.Item1.DragonId}")" target="_blank">Visit scrying workshop</a>
                                                    }
                                                    <br />
                                                    @if (preview.Item1.Skin != null)
                                                    {
                                                        @Html.RouteLink("Create preview with this skin", "Preview", new { SkinId = preview.Item1.Skin.GeneratedId })
                                                    }
                                                    else
                                                    {
                                                        <i>Skin deleted</i>
                                                    }
                                                    @if (Model.IsOwn)
                                                    {
                                                        <p>
                                                            <a href="#" onclick="removePreview(@preview.Item1.Id)">Remove from profile</a>
                                                        </p>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                    }
                    else
                    {
                        <p>No previews generated yet : (</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
<div class="row">

</div>

<script>
    @{
    var previewTimeData = previews?.Where(x => x.Item1.PreviewTime != null).Select(x => x.Item1.PreviewTime).GroupBy(x => x.Value.Date).Select(x => (x.First().Value.ToString("dd/MM/yyyy"), x.Count()));
    }
    $(document).ready(function () {
        $('#carousel-previews, #carousel-skins').on('slide.bs.carousel', function (event) {
            var item = $(event.relatedTarget).attr('data-item');
            $('.carousel-indicators li.activeIndicator').removeClass('activeIndicator');
            $(`.carousel-indicators li[data-item="${item}"]`).addClass('activeIndicator');
        });
    });
    $("[data-toggle=popover]").each(function (i, obj) {
        $(this).popover({
            html: true,
            content: function () {
                var id = $(this).attr('id');
                return $(`#${id}_popover`).html();
            },
            trigger: 'hover focus',
            container: 'body'
        });

    });
</script>

<style>
    .popover {
        max-width: 100%;
        z-index: 100;
    }

    .skin-container {
        max-height:420px;
        overflow-y:auto;
        margin-bottom:0;
    }

    .carousel-container {
        padding:0;
        overflow-y: auto;
        max-height:420px;
        direction: rtl;
    }

    .carousel-indicators {
        position: initial;
        margin-left: 0;
        padding-right: 0;
        width: unset;
        margin-bottom: 0;
        }

            .carousel-indicators li {
                direction: ltr;
                display: block;
                background: unset;
                border: unset;
                text-indent: 0;
                margin: 0;
                @if (Model.Privacy.HasFlag(FRTools.Data.DataModels.Privacy.HideSkins) && !Model.IsOwn)
                {
                    @:width: 50%;
                    @:float: left;
                }
                else
                {
                    @:width: unset;
                }
                height: unset;
                transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -webkit-transition: all 1s;
                padding: 3px;
            }

            .carousel-indicators li.activeIndicator {
                background-color: #d9edf7;
            }

            .carousel-indicators li img {
                width: 100%;
                height: 100%;
            }
</style>
