@model AccountViewModel

@{
    ViewBag.Title = "Account management";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Account management</h4>
            </div>
            <div class="panel-body">
                <p>
                    To change your profile settings @(Html.RouteLink("click here", "EditProfile")).
                </p>
                <p>
                    To manage your logins @(Html.RouteLink("click here", "ManageLogins")).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Flight Rising account link
            </div>
            <div class="panel-body">
                <p>
                    Linking this account to a Flight Rising account allows for verification and linking to your Flight Rising profile.
                    This can help to ensure to users that skins uploaded using your account are actually made by you.
                    The verification process is one-way, meaning it will allow this site to <b>read</b> from Flight Rising only.
                </p>
                @if (Model.User.FRUser == null)
                {
                    <p>
                        Your account is currently not linked to any Flight Rising account.
                    </p>
                    <p>
                        You can do so here: @Html.RouteLink("Link Flight Rising", "VerifyFR", null, new { @class = "btn btn-primary" })
                    </p>
                }
                else
                {
                    <p>
                        Your account is currently linked to Flight Rising account <b>@(Model.User.FRUser.Username) (@(Model.User.FRUser.FRId)).</b>
                    </p>
                }

            </div>
        </div>
    </div>
</div>