@model AccountViewModel

@{
    Layout = V2Layout;
    ViewBag.Title = "Account management";
}

<div class="row">
    <div class="col-md-4">
        <div class="card mt-3">
            <div class="card-header">
                <h5>Account management</h5>
            </div>
            <div class="card-body">
                <p>
                    To change your profile settings @(Html.RouteLink("click here", "EditProfile")).
                </p>
                <p>
                    To manage your logins @(Html.RouteLink("click here", "ManageLogins")).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mt-3">
            <div class="card-header">
                <h5>Flight Rising account link</h5>
            </div>
            <div class="card-body">
                <p>
                    Connecting this account to a Flight Rising account allows for verification and linking to your Flight Rising profile.<br/>
                    This can help to ensure to other users that skins uploaded using your account are actually made by you.<br/>
                    The verification process is one-way, meaning it will allow this site to <b>read</b> from Flight Rising only.
                </p>
                <hr/>
                @if (Model.User.FRUser == null)
                {
                    <p>
                        Your account is currently not linked to any Flight Rising account.<br/>
                        You can do so by clicking the button
                    </p>
                    <div class="d-flex justify-content-end">
                        @Html.RouteLink("Link Flight Rising", "VerifyFR", null, new { @class = "btn btn-primary" })
                    </div>
                }
                else
                {
                    <p>
                        Your account is currently linked to Flight Rising account <b>@(Model.User.FRUser.Username) (@(Model.User.FRUser.FRId)).</b>
                    </p>
                }
            </div>
        </div>
    </div>
</div>