@model FRTools.Web.Models.CreatePinglistViewModel

@{
    ViewBag.Title = "Create pinglist";
    Layout = V2Layout;
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Create pinglist</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(model => model.Name, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IsPublic, new { @class = "col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.IsPublic, new { style = "margin-top:-7px; margin-left:0; width: 25px; height: 34px;" })
                        @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <input type="submit" value="Create pinglist" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
