@model FRTools.Web.Models.EditPinglistViewModel

@{
    ViewBag.Title = $"Manage pinglist '{Model.Name}'";
    
}

@if (TempData["NewList"] != null)
{
    var (listId, secretKey) = (ValueTuple<string, string>)TempData["NewList"];
    <div class="card mt-3">
        <div class="card-body">
            <p>Your list has been succesfully created:</p>
            <p>
                <b>
                    List Id: @(listId)<br />
                    Secret Key: @(secretKey)
                </b>
            </p>
            <p>
                Keep this data safe! You will need these values in order to access your list if you want to change it's properties, or if the list is set to private.<br />
                You can skip needing these values by logging in to an account and link this pinglist to that account.
            </p>
        </div>
    </div>
}
<div class="card mt-3">
    <div class="card-header">
        <h5>Pinglist: <b>@(Model.Name)</b></h5>
    </div>
    @if (Model.FinishedJobs.Any())
    {
        <div class="card-body pt-0">
            <div class="card mt-3">
                <div class="panel-body">
                    <p>The following tasks have been finished in the background:</p>
                    @foreach (var job in Model.FinishedJobs)
                    {
                        var errors = job.Errors != null ? Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(job.Errors) : new List<string>();
                        if (job.Status == JobStatus.Finished)
                        {
                            <div class="alert alert-success" role="alert">
                                <a href="@Url.RouteUrl("MarkPinglistJobRead", new { listId = Model.ListId, secretKey = Model.SecretKey, jobId = job.Id })" type="button" class="btn btn-sm btn-info pull-right" aria-label="Close"><span aria-hidden="true">Mark read</span></a>
                                Job "@(job.Description)" which started at @(job.StartTime) finished successfully!<br />
                            </div>
                        }
                        if (job.Status == JobStatus.FinishedWithErrors)
                        {
                            <div class="alert alert-warning" role="alert">
                                <a href="@Url.RouteUrl("MarkPinglistJobRead", new { listId = Model.ListId, secretKey = Model.SecretKey, jobId = job.Id })" type="button" class="btn btn-sm btn-warning pull-right" aria-label="Close"><span aria-hidden="true">Mark read</span></a>
                                Job "@(job.Description)" which started at @(job.StartTime) finished, but with errors:<br />
                                <ul>
                                    @foreach (var error in errors)
                                    {
                                        <li>@(error)</li>
                                    }
                                </ul>
                            </div>
                        }
                        if (job.Status == JobStatus.Error)
                        {
                            <div class="alert alert-danger" role="alert">
                                <a href="@Url.RouteUrl("MarkPinglistJobRead", new { listId = Model.ListId, secretKey = Model.SecretKey, jobId = job.Id })" type="button" class="btn btn-sm btn-danger pull-right" aria-label="Close"><span aria-hidden="true">Mark read</span></a>
                                Job "@(job.Description)" which started at @(job.StartTime) did not finish, please report this to on the Github issue page or on our discord:<br />
                                @(errors[0])
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }

    <div class="card-body pt-0">
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Management
                    </div>
                    <div class="card-body">
                        @using (Html.BeginRouteForm("PinglistManageListPost", new { listId = Model.ListId, secretKey = Model.SecretKey }))
                        {
                            <div class="form-group row">
                                <label class="col-md-3" for="PinglistLink">
                                    <span class="fa fa-warning text-danger" data-toggle="tooltip" title="This link will not work on the Flight Rising forums due to their censorship of off-site tools."></span> Your link
                                </label>
                                <div class="col-md-9">
                                    @Html.CopyTextBox(Url.RouteUrl("PinglistDirect", new { listId = Model.ListId }, "https"), "PinglistLink", "pinglist", Model.ListId)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3" for="PinglistShareLink">
                                    <span class="fa fa-warning text-warning" data-toggle="tooltip" title="Generating a share link allows you to post links on the Flight Rising forums."></span> Share link
                                </label>
                                <div class="col-md-9">
                                    @Html.CopyTextBox(Model.ShareUrl, "PinglistShareLink", "pinglist", Model.ListId)
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, new { @class = "col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.IsPublic, new { @class = "col-md-3" })
                                <div class="col-md-9">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(model => model.IsPublic, new { @class = "custom-control-input" })
                                        <label class="custom-control-label" for="@Html.IdFor(model => model.IsPublic)"></label>
                                    </div>
                                </div>
                            </div>
                            if (Request.IsAuthenticated)
                            {
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.NewPinglistCategory, new { @class = "col-md-3" })
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.NewPinglistCategory, Model.AvailableCategories.Select(x => new SelectListItem { Text = x.Name, Value = x.Id == -1 ? null : x.Id.ToString(), Selected = Model.PinglistCategory?.Id == x.Id }), new { @class = "form-control" })
                                            <span class="input-group-append">
                                                <a href="#" class="btn-group-sm btn btn-success" onclick="NewCategory()">+ New</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <hr />
                            <div class="form-group row">
                                <label class="col-md-3" for="@Html.IdFor(model => model.Format.Separator)">@Html.DisplayNameFor(model => model.Format.Separator) <span class="fa fa-info-circle" data-toggle="tooltip" title="The separator that is between each individual user mention."></span></label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Format.Separator, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3" for="@Html.IdFor(model => model.Format.Prefix)">@Html.DisplayNameFor(model => model.Format.Prefix) <span class="fa fa-info-circle" data-toggle="tooltip" title="The text to put before the list of user mentions. For example the opening tags of BBCode."></span></label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Format.Prefix, new { @class = "form-control", rows = 3, style = "resize: vertical" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3" for="@Html.IdFor(model => model.Format.Postfix)">@Html.DisplayNameFor(model => model.Format.Postfix) <span class="fa fa-info-circle" data-toggle="tooltip" title="The text to put after the list of user mentions. For example the closing tags of BBCode."></span></label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Format.Postfix, new { @class = "form-control", rows = 3, style = "resize: vertical" })
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        }
                        <hr />
                        @Html.CopyTextAreaFor(model => model.CopyPinglist)
                    </div>
                </div>
                <div class="card mt-3 border-danger">
                    <div class="card-header">
                        Thar be dangerous stuff  'ere
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            This will permanently delete your pinglist!&nbsp;
                            <div class="d-flex justify-content-end">
                                <span>
                                    <a class="btn btn-sm btn-danger" href="@Url.RouteUrl("PinglistDelete", new { listId = Model.ListId, SecretKey = Model.SecretKey })" onclick="return userConfirm();">Delete your pinglist</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Entries
                    </div>
                    <div class="card-body pt-0">
                        @Html.Partial("_Userlist", Model.EntriesViewModel)
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Import pinglist
                    </div>
                    <div class="card-body">
                        @using (Html.BeginRouteForm("PinglistImportCSV", new { listId = Model.ListId, secretKey = Model.SecretKey }, FormMethod.Post, new { }))
                        {
                            <div class="form-group">
                                <label for="CSV" class="control-label">CSV</label>
                                <div class="input-group">
                                    @Html.TextArea("CSV", new { @class = "form-control", rows = 3, style = "resize: vertical" })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span id="CSVHelp" data-toggle="popover" class="fa fa-info-circle"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="Import" class="btn btn-primary" onclick="alert('Depending on how many users are already known on the site, this action may take a while.')" />
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="CSVHelp_popover" style="display:none;">
    <p class="text-center">
        If you are managing your pinglist somewhere else, you can import your existing list using CSV (Comma Separated Value).<br />
        It would be impossible to give examples for everything, but a lot of people are using Google Spreadsheets so this GIF will show you how to create a CSV file there.
        <img class="text-center img-fluid" src="https://i.imgur.com/jQmSLYH.gif" />
    </p>
</div>

<script>
    userConfirm = function () {
        return confirm("This will permanently delete your pinglist from this tool, are you sure?");
    };

    $("[data-toggle=popover]").each(function (i, obj) {
        $(this).popover({
            html: true,
            content: function () {
                var id = $(this).attr('id');
                return $(`#${id}_popover`).html();
            },
            trigger: 'hover focus',
            container: 'body'
        });

    });
    @if (Request.IsAuthenticated)
    {
    <text>
    NewCategory = function () {
        var name = prompt('Enter name for new category');
        if (name) {
            $.post('@(Url.RouteUrl("PinglistCategoryAdd"))', { name: name }).done(function (data) {
                $('#@(Html.IdFor(model => model.NewPinglistCategory))').append(`<option value="${data.Id}">${data.Name}</option>`); // TODO: Replace with fancy modal at some point
                $('#@(Html.IdFor(model => model.NewPinglistCategory)) option[value="' + data.Id + '"]').prop('selected', true);
            });
        }
    }
    </text>
    }
</script>

<style>
    .popover {
        max-width: 40%;
        z-index: 100;
        pointer-events:none;
    }
</style>
