@model FRTools.Web.Models.PinglistViewModel

@{
    ViewBag.Title = $"Public pinglist '{Model.Name}'";
    
}

@if (TempData["NewEntry"] != null)
{
    var (entryId, secretKey, userName) = (ValueTuple<string, string, string>)TempData["NewEntry"];
    <div class="card mt-3">
        <div class="card-body">
            <p>Your entry has been added and can be managed by providing the following entry data:</p>
            <p>
                <b>
                    Entry Id: @(entryId)<br />
                    Secret Key: @(secretKey)
                </b>
            </p>
            <p>Keep this data safe if you ever want to remove yourself or edit your remark, or log in with an account that has '@(userName)' linked.</p>
        </div>
    </div>
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Pinglist: <b>@(Model.Name)</b></h5>
    </div>
    <div class="card-body">
        @Html.Partial("_Userlist", Model.EntriesViewModel)
    </div>
</div>
