<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("meta", false)
    <title>@ViewBag.Title - FR Tools</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("head", false)
    <script type="text/javascript">
        var appInsights=window.appInsights||function(a){
          function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
          }({
              instrumentationKey: '@(System.Configuration.ConfigurationManager.AppSettings["APPINSIGHTS_INSTRUMENTATIONKEY"])'
          });

        window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.RouteUrl("Home")" class="navbar-brand" style="padding-right:0">
                    <img style="height:20px;" src="@(ViewBag.Logo ?? "/Content/frtools.svg")" onerror="this.src='@(ViewBag.PngLogo ?? "/Content/frtools.png")'" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Discord Bot <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.RouteLink("Bot info", "DiscordHome")</li>
                            <li>@Html.RouteLink("Help", "DiscordHelp")</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li role="separator" class="divider"></li>
                                <li>@Html.RouteLink("Manage your bot", "DiscordManage")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skin tester <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.RouteLink("Skin tester info", "SkinTesterHome")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.RouteLink("Browse skins", "Browse", null, new { title = "Browse skins that are uploaded to the tool" })</li>
                            <li>@Html.RouteLink("Upload skin", "Upload")</li>
                            <li>@Html.RouteLink("Preview skin", "PreviewHome")</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li role="separator" class="divider"></li>
                                <li>@Html.RouteLink("Link skin", "LinkExisting", null, new { title = "Link existing skin to your account" })</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pinglist manager <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.RouteLink("Pinglist info", "PinglistInfo", null, new { title = "Info about how the pinglist manager works" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.RouteLink("Create pinglist", "PinglistCreate", null, new { title = "Create a new pinglist" })</li>
                            <li>@Html.RouteLink("View pinglists", "Pinglist", null, new { title = "View the pinglist with a given ID" })</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li role="separator" class="divider"></li>
                                <li>@Html.RouteLink("Link list", "PinglistLink", null, new { title = "Link an existing ping list to your account" })</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other tools <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.RouteLink("Dress up a scry", "ScryerDresser", null, new { title = "Use the dressing room to dress up a scry" })</li>
                            <li>@Html.RouteLink("Unredacted FR Newsreader", "NewsReader", null, new { title = "Go through the Flight Rising news posts and see what staff is deleting" })</li>
                        </ul>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginRouteForm("Logout", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.RouteLink($"Hello {User.Identity.Name}!", "SelfProfile", null, new { title = "View your profile" })
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.RouteLink($"Account details", "ManageAccount", null, new { title = "Manage your account" })
                                    </li>
                                    <li>
                                        @Html.RouteLink($"Logins", "ManageLogins", null, new { title = "Manage logins to your account" })
                                    </li>
                                </ul>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                        </ul>

                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            @Html.RouteLink("Login", "Login")
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container body-content">
            @if ((string)ViewContext.Controller.ControllerContext.RouteData.Values["controller"] != "Pinglist")
            {
                <div class="alert alert-info" role="alert">
                    A new feature has emerged! Do you own a Discord server and want access to small but powerful Flight Rising related commands? Check out the new Discord bot <a href="@Url.RouteUrl("DiscordHome")">here!</a>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.Raw(TempData["Error"])
                </div>
            }
            @if (TempData["Warning"] != null)
            {
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.Raw(TempData["Warning"])
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.Raw(TempData["Success"])
                </div>
            }
            @if (TempData["Info"] != null)
            {
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.Raw(TempData["Info"])
                </div>
            }
            @RenderBody()
            <hr />
            <footer>
                <div class="pull-left">
                    <p>Dragons &copy; - Stormlight Workshop LLC</p>
                    <p>Skins &copy; - respective owners</p>
                    <p>Code and idea &copy; @DateTime.Now.Year - Perry van Velzen</p>
                </div>
                <div class="pull-right">
                    <a href='https://ko-fi.com/X8X6RLCS' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
                </div>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</body>
</html>
