@model PaginationModel

@if (Model.TotalItems > Model.PageSize)
{
    var visiblePages = Enumerable.Range(1, (int)Math.Ceiling((double)Model.TotalItems / (double)(Model.PageSize))).ToList();
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            @{ var lastPage = (int)Math.Ceiling((double)Model.TotalItems / (double)Model.PageSize); }
            @if (Model.Page != 1)
            {
                @CreatePaginationItem(1, "First page", @class: "fa fa-fast-backward");
                @CreatePaginationItem(Model.Page - 1, "Previous page", @class: "fa fa-step-backward");
            }
            else
            {
                @CreatePaginationItem(1, "First page", true, "fa fa-fast-backward");
                @CreatePaginationItem(Model.Page - 1, "Previous Page", true, "fa fa-step-backward");
            }
            @if (visiblePages.Count > 6)
            {
                foreach (var page in visiblePages.Take(3))
                {
                    if (Model.Page == page)
                    {
                        @CreatePaginationItem(Model.Page, "Current page", true);
                    }
                    else
                    {
                        @CreatePaginationItem(page, $"Go to page {page}");
                    }
                }

                if (Model.Page > 3 && Model.Page < lastPage - 2)
                {
                    @CreatePaginationItem(Model.Page, "Current page", true);
                }

                <li data-toggle="tooltip" title="@($"{lastPage - 4} page(s) not shown, click to jump to page")" class="page-item">
                    <span class="page-link p-2">
                        <select onchange="window.location = this.options[this.selectedIndex].dataset.url" class="fa page-link border-0 py-0 px-1 m-n1 d-inline-block">
                            <option disabled selected>&#xf141;</option>
                            @foreach (var page in visiblePages.Skip(3).Take(visiblePages.Count - 6))
                            {
                                @CreatePaginationSelectOption(page)
                            }
                        </select>
                    </span>
                </li>

                foreach (var page in visiblePages.Skip(visiblePages.Count - 3).Take(3))
                {
                    if (Model.Page == page)
                    {
                        @CreatePaginationItem(Model.Page, "Current page", true);
                    }
                    else
                    {
                        @CreatePaginationItem(page, $"Go to page {page}");
                    }
                }
            }
            else
            {
                foreach (var page in visiblePages)
                {
                    @CreatePaginationItem(page, $"Go to page {page}");
                }
            }

            @if (Model.Page != lastPage)
            {
                @CreatePaginationItem(Model.Page + 1, "Next page", @class: "fa fa-step-forward");
                @CreatePaginationItem(lastPage, "Last page", @class: "fa fa-fast-forward");
            }
            else
            {
                @CreatePaginationItem(Model.Page + 1, "Next page", true, "fa fa-step-forward");
                @CreatePaginationItem(lastPage, "Last page", true, "fa fa-fast-forward");
            }
        </ul>
    </nav>
}
@helper CreatePaginationItem(int page, string tooltip, bool disabled = false, string @class = null)
{
    if (disabled)
    {
        <li data-toggle="tooltip" title="@tooltip" class="page-item disabled"><span class="page-link">@(Html.Raw(@class == null ? $"<span>{page}</span>" : $"<span class=\"{@class}\"></span>"))</span></li>
    }
    else
    {
        // This can probably be done simpler
        var queryStringValues = Request.QueryString.AllKeys.Select(x => (x, Request.QueryString[x])).ToDictionary(x => x.Item1, x => x.Item2);
        queryStringValues["page"] = page.ToString();
        <li data-toggle="tooltip" title="@tooltip" class="page-item"><a class="page-link" href="@(Url.RouteUrl(Model.RouteUrlName) + "?" + string.Join("&", queryStringValues.Select(x => $"{x.Key}={x.Value}")))">@(Html.Raw(@class == null ? page.ToString() : $"<span class=\"{@class}\"></span>"))</a></li>
    }
}

@helper CreatePaginationSelectOption(int page)
{
    // This can probably still be done simpler
    var queryStringValues = Request.QueryString.AllKeys.Select(x => (x, Request.QueryString[x])).ToDictionary(x => x.Item1, x => x.Item2);
    queryStringValues["page"] = page.ToString();
    <option data-url="@(Url.RouteUrl(Model.RouteUrlName) + "?" + string.Join("&", queryStringValues.Select(x => $"{x.Key}={x.Value}")))">@page</option>
}