@model UpdateSkinPost

@using (Html.BeginRouteForm("UpdateSkinPost", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return confirmSubmit(this);" }))
{
    @Html.HiddenFor(model => model.SkinId)
    @Html.HiddenFor(model => model.SecretKey)

    <div class="form-group row">
        @Html.LabelFor(model => model.Skin, htmlAttributes: new { @class = "col-4 col-form-label" })
        <div class="col-8">
            <span class="control-fileupload">
                <label for="file" class="text-left">Please choose a file.</label>
                <input type="file" accept=".png" name="@(Html.NameFor(model => model.Skin))" id="@(Html.IdFor(model => model.Skin))" />
            </span>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <input type="submit" value="Update Skin" class="btn btn-primary" />
    </div>
}

<script>
    confirmSubmit = function (e) {
        if (confirm('Updating a skin overwrites the skin file on the server, rendering it impossible for users to preview an older version.\n\rAre you sure you want to update?')) {
            e.submit();
        }
        return false;
    }

    $('#@(Html.IdFor(model => model.Skin))').change(function () {
        var t = $(this).val();
        var labelText = 'File : ' + t.substr(12, t.length);
        $(this).prev('label').text(labelText);
    })
</script>
