@model ClaimSkinPostViewModel

@{
    Layout = V2Layout;
    ViewBag.Title = "Claim existing skin";
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Claim existing skin</h5>
    </div>
    <div class="card-body">
        <p>
            If you have uploaded a skin before user accounts were added or while not logged in you can use this page to link that skin to your account<br />
            Simply fill in the skin id and the corresponding secret key<br />
            If you do not recall your secret key, you can always contact Nensec#1337 on Discord.
        </p>
        @using (Html.BeginRouteForm("LinkExistingPost"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SkinId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.SkinId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SkinId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SecretKey, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.SecretKey, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SecretKey, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Link to my account!" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>