@model PreviewModelPostViewModel

@{
    ViewBag.Title = "Preview";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Here is your preview, hope you like it!
        </h4>
    </div>
    <div class="panel-body">
        @if (Model.Dragon.EyeType == EyeType.Primal || Model.Dragon.EyeType == EyeType.Glowing || (Model.Dragon.EyeType == EyeType.MultiGaze && Model.Dragon.DragonType.IsAncientBreed()))
        {
            <div class="alert alert-warning">
                This dragon has the <b>@(Model.Dragon.EyeType)</b> eyetype. Due to the nature of how these eyes are generated here they don't look perfect (yet). This is a work in progress!
            </div>
        }
        else if (Model.Dragon.EyeType == EyeType.MultiGaze && Model.Dragon.DragonType.IsAncientBreed())
        {
            <div class="alert alert-success">
                The eye masks for multi-gaze of modern breeds are generously provided by <b>Grovey#79114</b> (<a href="https://www1.flightrising.com/forums/gde/2571730">forum thread</a>)
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                Eyes might not look right compared to the final, but they should still give a good indication of what will be. This is a work in progress!
            </div>
        }
        <div class="row">
            @if (Model.Result.Urls.Length == 1)
            {
                <div>
                    <img class="dragonImage center-block" src="@(Model.CDNBasePath + Model.Result.Urls[0])" />
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <img class="dragonImage center-block" src="@(Model.CDNBasePath + Model.Result.Urls[0])" />
                </div>
                <div class="col-md-6">
                    <img class="dragonImage center-block" src="@(Model.CDNBasePath + Model.Result.Urls[1])" />
                </div>

            }
        </div>
        @if (Model.Result.Cached)
        {
            using (Html.BeginRouteForm("PreviewPost", FormMethod.Post, htmlAttributes: new { id = "forceRegen" }))
            {
                @Html.HiddenFor(model => model.SkinId)
                switch (Model.Result.PreviewSource)
                {
                    case FRTools.Common.PreviewSource.DragonId:
                        @Html.Hidden("DragonId", Model.Result.Dragon.FRDragonId)
                        break;
                    case FRTools.Common.PreviewSource.Scry:
                        @Html.Hidden("ScryerUrl", Model.Result.DragonUrl)
                        break;
                    case FRTools.Common.PreviewSource.DressingRoom:
                        @Html.Hidden("DressingRoomUrl", Model.Result.DragonUrl)
                        break;
                }

                @Html.Hidden("Force", true)
            }
            <div class="alert alert-info">
                This result is a cached version, if you want to completely re-generate the preview (in case of a change in dragon or apparel) you can do so by clicking <a href="javascript:document.getElementById('forceRegen').submit()">here</a>
            </div>
        }
        <p class="pull-left">
            <i style="font-size:10px;">
                Notice anything wrong with the result? Let me know so I can fix it <a href="https://github.com/nensec/FRTools/issues">&gt;here&lt;</a>!
            </i>
        </p>
        @if (!Request.IsAuthenticated)
        {
            <p class="pull-right">
                <i style="font-size:10px;">
                    Did you know that if you <a href="@Url.RouteUrl("Login")">login</a> all previews you create will be linked to your account and you can view them in your profile?
                </i>
            </p>
        }
    </div>
</div>
<p><a class="btn btn-primary" href="@Url.Action("Preview", new { SkinId = Model.SkinId })">Try on another dragon? &raquo;</a></p>