@model PreviewModelViewModel

@{

    ViewBag.Title = "Preview";
}

@section meta {
    <meta property="og:title" content="Skin preview@(Model.Title != null ? $" of '{Model.Title}'" : "")" />
    <meta property="og:image" content="@(Model.CDNBasePath + Model.PreviewUrl)" />
    <meta property="og:url" content="@Url.RouteUrl("Preview", new { SkinId = Model.SkinId })" />
    <meta property="og:description" content="@(Model.Description ?? "No description provided")" />
}

<div class="row">
    <div class="col-md-7">
        <div class="card mt-3">
            <div class="card-header">
                <h5>
                    Preview skin: @(Model.Title)
                    <sup>
                        @(Model.Version != 1 ? $"v{Model.Version}" : "")
                    </sup>
                </h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-4">Creator</label>
                    <div class="col-md-8">
                        @if (Model.Creator != null && Model.Creator.ProfileSettings.PublicProfile)
                        {
                            if (Model.Creator.FRUser != null)
                            {
                                if (Model.Creator.ProfileSettings.ShowFRLinkStatus)
                                {
                                    <a href="@($"https://www1.flightrising.com/clan-profile/{Model.Creator.FRUser.FRId}")" target="_blank" title="Visit the creator's Flight Rising profile!">@Model.Creator.FRUser.Username</a>
                                }
                                else
                                {
                                    @Model.Creator.UserName
                                }
                                <span class="fa fa-check text-success" data-toggle="tooltip" title="This user account is verified on Flight Rising"></span>
                            }
                            else
                            {

                                @Model.Creator.UserName
                                <span class="fa fa-info-circle text-info" data-toggle="tooltip" title="This user account has not been verified on Flight Rising"></span>
                            }
                            <a href="@Url.RouteUrl("Profile", new { username = Model.Creator.UserName })">
                                <span class="fa fa-user text-info" data-toggle="tooltip" title="View this user's profile on this site"></span>
                            </a>
                        }
                        else
                        {
                            <p><i>Anonymous</i></p>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" readonly>@(Model.Description)</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4">Coverage</label>
                    <div class="col-md-8">
                        <div>@(Model.Coverage)%</div>
                    </div>
                </div>
                <hr />
                @Html.Partial("_PreviewForm", new FRTools.Web.Models.PreviewModelPost(Model.SkinId, Model.DragonType))
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card mt-3">
            <div class="card-body">
                <div class="text-center">
                    @if (Model.DragonType == DragonType.Aberration)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Aberration dressing room dummy's are currently too big, the actual preview on your dragon/scry will not show the fringing you see below. <a href="https://frtools.tumblr.com/post/678240236765118464/flightrising-also-has-the-exact-same-issue-the">More info here.</a>
                        </div>
                    }
                    <img class="img-fluid" src="@(Model.CDNBasePath + Model.PreviewUrl)" />
                </div>
            </div>
        </div>
    </div>
</div>