@model UploadModelPostViewModel

@{
    Layout = V2Layout;
    ViewBag.Title = "Upload Result";
}

<div class="row">
    <div class="col-md-8">
        <div class="card mt-3">
            <div class="card-header">
                <h5>Upload success!</h5>
            </div>
            <div class="card-body">
                <h5>Your skin's URLs</h5>
                <hr />
                <p>
                    This URL is what you share with others to preview your skin.
                </p>
                <div class="form-group row">
                    <label style="padding-top:7px; text-align:left" class="col-md-4 col-form-label" for="PreviewLink">
                        <span class="fa fa-warning text-danger" data-toggle="tooltip" title="This link will not work on the Flight Rising forums due to their censorship of off-site tools."></span> Your link
                    </label>
                    <div class="col-md-8">
                        @Html.CopyTextBox(Url.RouteUrl("Preview", new { skinId = Model.SkinId }, "https"), "PreviewLink", "skin", Model.SkinId)
                    </div>
                </div>
                <div class="form-group row">
                    <label style="padding-top:7px; text-align:left" class="col-md-4 col-form-label" for="PreviewShareLink">
                        <span class="fa fa-warning text-warning" data-toggle="tooltip" title="Generating a share link allows you to post links on the Flight Rising forums."></span> Share link
                    </label>
                    <div class="col-md-8">
                        @Html.CopyTextBox(Model.ShareUrl, "PreviewShareLink", "skin", Model.SkinId)
                    </div>
                </div>

                @if (Request.IsAuthenticated)
                {
                    <div>
                        <hr />
                        <p>Since you are logged in you can manage this skin from your management page: @Html.RouteLink("Here", "ManageSkins")</p>
                    </div>
                }
                else
                {
                    <div>
                        <hr />
                        <h5>You can use this link to manage your skin, keep this safe!</h5><br />
                        <div class="alert alert-danger">

                            Do not give this link out to anyone! Do not copy paste this onto the forums or send it in a private message. You can delete your skin with this link!
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="padding-top:7px" class="col-md-4 col-form-label" for="ManageLink">
                            Management page
                        </label>
                        <div class="col-md-8">
                            @Html.CopyTextBox(Url.RouteUrl("Manage", new { SkinId = Model.SkinId, SecretKey = Model.SecretKey }, "https"), "ManageLink", null, null)
                        </div>
                    </div>
                    <p>
                        <i class="small text-muted">
                            Did you know that if you <a href="@Url.RouteUrl("Login")">login</a> all skins you upload will be linked to your account, allowing you easily manage them without having to remember this link!
                        </i>
                    </p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mt-3">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid" src="@(Model.CDNBasePath + Model.PreviewImageUrl)" />
                </div>
            </div>
        </div>
    </div>
</div>