@model DressModelViewModel

@{
    ViewBag.Title = "Dress up a scry";
    Layout = V2Layout;
}

@section meta{
    <meta name="referrer" content="no-referrer" />
}

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header">
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginRouteForm("PreviewPost"))
                {
                    @Html.AntiForgeryToken()

                    <p>
                        Enter the following fields, make sure the dragon breed and gender match!
                    </p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row">
                        @Html.LabelFor(model => model.ScryerUrl, htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.EditorFor(model => model.ScryerUrl, new { htmlAttributes = new { @class = "form-control", onchange = "setScryerImg()", oninput = "setScryerImg()" } })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span id="ScryHelp" data-toggle="popover" class="fa fa-info-circle"></span>
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.ScryerUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.DressingRoomUrl, htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.EditorFor(model => model.DressingRoomUrl, new { htmlAttributes = new { @class = "form-control", onchange = "setDressingImg()", oninput = "setDressingImg()" } })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span id="DressingHelp" data-toggle="popover" class="fa fa-info-circle"></span>
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.DressingRoomUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Show me the preview!" class="btn btn-primary" />
                    </div>

                    <div id="ScryHelp_popover" style="display:none;">
                        <p class="text-center">
                            On Flight Rising go to the "Scrying Workshop" and select "Predict Morphology".<br />
                            After creating the dragon of your choosing, right click the image and copy it's URL.
                        </p>
                        <img width="600" src="https://i.imgur.com/dXaRmNP.gif" />
                    </div>

                    <div id="DressingHelp_popover" style="display:none;">
                        <p class="text-center">
                            On Flight Rising go to the "Dressing Room" and select either option to dress a dragon.<br />
                            After dressing the dragon to your liking, right click the image and copy it's URL.
                        </p>
                        <img width="600" src="https://i.imgur.com/kZ1UnCk.gif" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card mt-3 border-info">
            <div class="card-header">
                <h5>Scryer image</h5>
            </div>
            <div class="card-body text-center">
                <img id="ScryerImage" src="/Content/nodata.png" onerror="this.src='/Content/nodata.png'" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mt-3 border-warning">
            <div class="card-header">
                <h5>Dressing room image</h5>
            </div>
            <div class="card-body text-center">
                <img id="DressingImage" src="/Content/nodata.png" onerror="this.src='/Content/nodata.png'" />
            </div>
        </div>
    </div>
</div>

<script>
    setScryerImg = function () {
        $('#ScryerImage').attr('src', $('#@(Html.IdFor(model => model.ScryerUrl))').val());
    }

    setDressingImg = function () {
        $('#DressingImage').attr('src', $('#@(Html.IdFor(model => model.DressingRoomUrl))').val());

    }

    $("[data-toggle=popover]").each(function (i, obj) {
        $(this).popover({
        html: true,
            content: function () {
                var id = $(this).attr('id');
                return $(`#${id}_popover`).html();
            },
            trigger: 'hover focus',
            container: 'body'
        });

    });
</script>

<style>
    .popover {
        max-width: 100%;
        z-index: 100;
    }
</style>
