@model FRSkinTester.Models.ManageModelViewModel

@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    Manage: @(Model.Skin.Title)
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    Here you can edit your skin's details and view what people have previewed your skin on
                </p>
                <div>
                    @Html.Partial("_ManageEditSkin", new FRSkinTester.Models.ManageModelPost
                    {
                        Title = Model.Skin.Title,
                        Description = Model.Skin.Description,
                        DragonType = (FRSkinTester.Models.DragonType)Model.Skin.DragonType,
                        Gender = (FRSkinTester.Models.Gender)Model.Skin.GenderType
                    })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <img src="@(Model.PreviewUrl)" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Your share link
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="PreviewLink" type="text" class="form-control" value="@Url.Action("Preview", "Home", new { SkinId = Model.Skin.GeneratedId }, "http")">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" onclick="document.getElementById('PreviewLink').select(); document.execCommand('copy'); this.innerHTML = 'Copied!'">Copy!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="PreviewScryLink" type="text" class="form-control" value="@Url.Action("PreviewScryer", "Home", new { SkinId = Model.Skin.GeneratedId }, "http")">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" onclick="document.getElementById('PreviewScryLink').select(); document.execCommand('copy'); this.innerHTML = 'Copied!'">Copy!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                These are the previews people have generated with your skin
            </div>
            <div class="panel-body">
                @if (Model.Skin.Previews.Any())
                {
                    <div id="carousel-previews" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @foreach (var preview in Model.Skin.Previews.Select(x => Model.Skin.Previews.IndexOf(x)))
                            {
                                <li data-target="#carousel-previews" data-slide-to="@(preview)" @(preview == 0 ? "class=\"active\"" : "")></li>
                            }
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @foreach (var preview in Model.Skin.Previews.Select((x, i) => (x, i)))
                            {
                                <div class="item @(preview.Item2 == 0 ? "active" : "")">
                                    <div class="row">
                                        <img id="Preview@(preview.Item2)" class="center-block" src="@(preview.Item1.PreviewImage)" data-toggle="popover">
                                        <div id="Preview@(preview.Item2)_popover" class="hide">
                                            @{ var dragon = FRSkinTester.Models.Dragon.FromString(preview.Item1.DragonData); }
                                            <ul style="list-style:none; padding:0">
                                                <li><b>Colors:</b> @(dragon.BodyColor) / @(dragon.WingColor) / @(dragon.TertiaryColor)</li>
                                                <li><b>Genes:</b> @(dragon.BodyGene) / @(dragon.WingGene) / @(dragon.TertiaryGene)</li>

                                                <li><b>Element:</b> @(dragon.Element)</li>
                                                <li><b>Eyetype:</b> @(dragon.EyeType)</li>
                                            </ul>                                            
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <b>@(preview.Item1.DragonId != null ? "Real dragon" : "Scry dragon")</b>
                                    </div>
                                </div>
                            }
                        </div>

                        <!-- Controls -->
                        <a class="left" href="#carousel-previews" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right" href="#carousel-previews" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                }
                else
                {
                    <p>Nobody has generated any previews yet : (</p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Thar be dangerous stuff  'ere
            </div>
            <div class="panel-body">
                <div class="form-group">
                    This will permanently delete your skin!&nbsp;
                    <span>
                        <a class="btn btn-xs btn-danger" href="@Url.Action("Delete", new { SkinId = Model.Skin.GeneratedId, SecretKey = Model.Skin.SecretKey })" onclick="return userConfirm();">Delete your skin</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    userConfirm = function () {
        return confirm(" This will permanently delete your skin from this tool, are you sure?");
    };

    $("[data-toggle=popover]").each(function (i, obj) {

        $(this).popover({
            html: true,
            content: function () {
                var id = $(this).attr('id');
                return $(`#${id}_popover`).html();
            },
            trigger: 'hover focus'
        });

    });
</script>

<style>
    .popover{
        max-width:100%;
    }
</style>